TravelGoodBPEL/src/TravelGoodWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodWsdl" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWsdl" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns1="http://fastmoney.imm.dtu.dk" xmlns:ns0="http://xml.netbeans.org/schema/LameDuckElements" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://xml.netbeans.org/schema/TravelGoodElements" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns3="http://xml.netbeans.org/schema/NiceViewElements">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWsdl" xmlns:ns2="http://xml.netbeans.org/schema/TravelGoodElements" xmlns:ns0="http://xml.netbeans.org/schema/LameDuckElements" xmlns:ns4="http://xml.netbeans.org/schema/NiceViewElements">
            <xsd:import schemaLocation="http://fastmoney.compute.dtu.dk:8080/BankService?xsd=2" namespace="http://fastmoney.imm.dtu.dk"/>
            <xsd:import schemaLocation="http://localhost:8080/LameDuckTest/LameDuckWSDLService?xsd=1" namespace="http://xml.netbeans.org/schema/LameDuckElements"/>
            <xsd:import schemaLocation="TravelGoodElements.xsd" namespace="http://xml.netbeans.org/schema/TravelGoodElements"/>
            <xsd:import schemaLocation="http://localhost:8080/NiceViewTest/NiceViewWSDLService?xsd=1" namespace="http://xml.netbeans.org/schema/NiceViewElements"/>
            <xsd:complexType name="TGGetFlightRequestType">
                <xsd:sequence>
                    <xsd:element name="flightRequest" type="ns0:getFlightRequestType"></xsd:element>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TGGetFlightRequestElement" type="tns:TGGetFlightRequestType"></xsd:element>
            <xsd:complexType name="TGAddFlightToItineraryType">
                <xsd:sequence>
                    <xsd:element name="flightInfo" type="ns0:FlightInformationType"></xsd:element>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TGGetHotelsRequestType">
                <xsd:sequence>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                    <xsd:element name="request" type="ns4:GetHotelsRequestType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TGGetHotelsRequestElement" type="tns:TGGetHotelsRequestType"></xsd:element>
            <xsd:element name="TGAddFlightToItineraryElement" type="tns:TGAddFlightToItineraryType"></xsd:element>
            <xsd:complexType name="TGAddHotelToItineraryType">
                <xsd:sequence>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                    <xsd:element name="hotel" type="ns4:HotelInformationType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TGAddHotelToItineraryElement" type="tns:TGAddHotelToItineraryType"></xsd:element>
            <xsd:complexType name="TGRemoveFlightRequestType">
                <xsd:sequence>
                    <xsd:element ref="ns0:FlightInformationElement"/>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TGRemoveFlightRequestElement" type="tns:TGRemoveFlightRequestType"></xsd:element>
            <xsd:complexType name="TGRemoveHotelRequestType">
                <xsd:sequence>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                    <xsd:element name="hotelToRemove" type="ns4:HotelInformationType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TGRemoveHotelRequestElement" type="tns:TGRemoveHotelRequestType"></xsd:element>
            <xsd:simpleType name="ItineraryType">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:element name="ItineraryIdElement" type="tns:ItineraryType"></xsd:element>
            <xsd:element name="cancelItineraryElement" type="tns:ItineraryType"></xsd:element>
            <xsd:element name="bookItineraryElement" type="tns:ItineraryType"></xsd:element>
            <xsd:complexType name="InitiateItineraryType">
                <xsd:sequence>
                    <xsd:element name="itinerary" type="ns2:ItineraryType"></xsd:element>
                    <xsd:element name="itineraryId" type="tns:ItineraryType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="InitiateItineraryElement" type="tns:InitiateItineraryType"></xsd:element>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="input1" element="tns:TGGetFlightRequestElement"/>
    </message>
    <message name="getFlightsResponse">
        <part name="output1" element="ns0:FlightInfoListElement"/>
    </message>
    <message name="addFlightToItineraryRequest">
        <part name="input3" element="tns:TGAddFlightToItineraryElement"/>
    </message>
    <message name="getHotelsRequest">
        <part name="input2" element="tns:TGGetHotelsRequestElement"/>
    </message>
    <message name="getHotelsResponse">
        <part name="output2" element="ns3:HotelInformationListElement"/>
    </message>
    <message name="addHotelToItineraryRequest">
        <part name="input4" element="tns:TGAddHotelToItineraryElement"/>
    </message>
    <message name="bookItineraryRequest">
        <part name="itineraryId1" element="tns:bookItineraryElement"/>
    </message>
    <message name="bookItineraryResponse">
        <part name="bookedItinerary1" element="ns2:ItineraryElement"/>
    </message>
    <message name="bookItineraryFault">
        <part name="bookFault1" element="ns2:bookItineraryFaultElement"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="itineraryId2" element="tns:cancelItineraryElement"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="status1" element="ns0:StringElement"/>
    </message>
    <message name="addFlightToItineraryResponse">
        <part name="itinerary1" element="ns2:ItineraryElement"/>
    </message>
    <message name="addHotelToItineraryResponse">
        <part name="itinerary2" element="ns2:ItineraryElement"/>
    </message>
    <message name="removeFlightRequest">
        <part name="flightToRemove1" element="tns:TGRemoveFlightRequestElement"/>
    </message>
    <message name="removeFlightResponse">
        <part name="itinerary3" element="ns2:ItineraryElement"/>
    </message>
    <message name="removeHotelRequest">
        <part name="hotelToRemove2" element="tns:TGRemoveHotelRequestElement"/>
    </message>
    <message name="removeHotelResponse">
        <part name="itinerary4" element="ns2:ItineraryElement"/>
    </message>
    <message name="getItineraryRequest">
        <part name="itineraryId3" element="tns:ItineraryIdElement"/>
    </message>
    <message name="getItineraryResponse">
        <part name="itinerary5" element="ns2:ItineraryElement"/>
    </message>
    <message name="InitiateItineraryRequest">
        <part name="init1" element="tns:InitiateItineraryElement"/>
    </message>
    <message name="InitiateItineraryResponse">
        <part name="itineraryId5" element="tns:ItineraryIdElement"/>
    </message>
    <portType name="TravelGoodWsdlPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="getHotels">
            <input name="input3" message="tns:getHotelsRequest"/>
            <output name="output2" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookItinerary">
            <input name="input5" message="tns:bookItineraryRequest"/>
            <output name="output3" message="tns:bookItineraryResponse"/>
            <fault name="fault1" message="tns:bookItineraryFault"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input6" message="tns:cancelItineraryRequest"/>
            <output name="output4" message="tns:cancelItineraryResponse"/>
        </operation>
        <operation name="addFlightToItinerary">
            <input name="input2" message="tns:addFlightToItineraryRequest"/>
            <output name="output5" message="tns:addFlightToItineraryResponse"/>
        </operation>
        <operation name="addHotelToItinerary">
            <input name="input4" message="tns:addHotelToItineraryRequest"/>
            <output name="output6" message="tns:addHotelToItineraryResponse"/>
        </operation>
        <operation name="removeFlight">
            <input name="input7" message="tns:removeFlightRequest"/>
            <output name="output7" message="tns:removeFlightResponse"/>
        </operation>
        <operation name="removeHotel">
            <input name="input8" message="tns:removeHotelRequest"/>
            <output name="output8" message="tns:removeHotelResponse"/>
        </operation>
        <operation name="getItinerary">
            <input name="input9" message="tns:getItineraryRequest"/>
            <output name="output9" message="tns:getItineraryResponse"/>
        </operation>
        <operation name="initiateItinerary">
            <input name="input10" message="tns:InitiateItineraryRequest"/>
            <output name="output10" message="tns:InitiateItineraryResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodWsdlPortTypeBinding" type="tns:TravelGoodWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="bookItinerary">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="http://travelgood.web.dk"/>
            </fault>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="addFlightToItinerary">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="addHotelToItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="removeFlight">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="removeHotel">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output8">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="getItinerary">
            <soap:operation/>
            <input name="input9">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output9">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
        <operation name="initiateItinerary">
            <soap:operation/>
            <input name="input10">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </input>
            <output name="output10">
                <soap:body use="literal" namespace="http://travelgood.web.dk"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodWsdlService">
        <port name="TravelGoodWsdlPortTypeBindingPort" binding="tns:TravelGoodWsdlPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGoodWsdl">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodWsdlPortTypeRole" portType="tns:TravelGoodWsdlPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryId" type="tns:ItineraryType"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:getFlightsRequest" part="input1">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:addFlightToItineraryRequest" part="input3">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:getHotelsRequest" part="input2">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:addHotelToItineraryRequest" part="input4">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:bookItineraryRequest" part="itineraryId1"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:cancelItineraryRequest" part="itineraryId2"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:removeFlightRequest" part="flightToRemove1">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:removeHotelRequest" part="hotelToRemove2">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:getItineraryRequest" part="itineraryId3"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:InitiateItineraryRequest" part="init1"> 
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
</definitions>
