LameDuckTest/src/conf/xml-resources/web-services/LameDuckWebservice/wsdl/LameDuckElements.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/LameDuckElements"
    xmlns:ns0="http://xml.netbeans.org/schema/LameDuckElements"
    elementFormDefault="qualified" xmlns:ns1="http://types.fastmoney.imm.dtu.dk">
    <xsd:import namespace="http://types.fastmoney.imm.dtu.dk"/>
    <xsd:complexType name="FlightType">
        <xsd:sequence>
            <xsd:element name="originAirport" type="xsd:string"></xsd:element>
            <xsd:element name="destAirport" type="xsd:string"></xsd:element>
            <xsd:element name="takeOff" type="xsd:dateTime"></xsd:element>
            <xsd:element name="arrival" type="xsd:dateTime"></xsd:element>
            <xsd:element name="carrier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightInformationType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
            <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
            <xsd:element name="serviceName" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="ns0:FlightType"></xsd:element>
            <xsd:element name="state" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreditCardInfoType">
        <xsd:sequence>
            <xsd:element name="cardNumber" type="xsd:int"></xsd:element>
            <xsd:element name="holderName" type="xsd:string"></xsd:element>
            <xsd:element name="expirationDate" type="xsd:dateTime"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FlightElement" type="ns0:FlightType"></xsd:element>
    <xsd:element name="FlightInformationElement" type="ns0:FlightInformationType"></xsd:element>
    <xsd:element name="CreditCardInfoElement" type="ns0:CreditCardInfoType"></xsd:element>
    <xsd:complexType name="FlightInfoListType">
        <xsd:sequence>
            <xsd:element name="flightInfo" type="ns0:FlightInformationType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FlightInfoListElement" type="ns0:FlightInfoListType"></xsd:element>
    <xsd:complexType name="getFlightRequestType">
        <xsd:sequence>
            <xsd:element name="origin" type="xsd:string"></xsd:element>
            <xsd:element name="destination" type="xsd:string"></xsd:element>
            <xsd:element name="flightDate" type="xsd:dateTime"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getFlightRequestElement" type="ns0:getFlightRequestType"></xsd:element>
    <xsd:complexType name="BookFlightRequestType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
            <xsd:element name="creditcardInfo" type="ns0:CreditCardInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="BookFlightRequestElement" type="ns0:BookFlightRequestType"></xsd:element>
    <xsd:complexType name="CancelFlightRequestType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
            <xsd:element name="price" type="xsd:int"></xsd:element>
            <xsd:element name="creditCardInformation" type="ns0:CreditCardInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CancelFlightRequestElement" type="ns0:CancelFlightRequestType"></xsd:element>
    <xsd:element name="StringElement" type="xsd:string"></xsd:element>
    <xsd:element name="booleanElement" type="xsd:boolean"></xsd:element>
</xsd:schema>
