NiceView/src/conf/xml-resources/web-services/NiceViewWebService_new/wsdl/HotelReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelReservation" targetNamespace="http://HotelReservation.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://HotelReservation.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://niceview/NiceViewElements">
    <types>
        <xsd:schema targetNamespace="http://HotelReservation.ws" xmlns:tns="http://HotelReservation.ws">
            <xsd:import namespace="http://niceview/NiceViewElements" schemaLocation="../niceview/web/dk/elements/NiceViewElements.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="request" element="ns0:GetHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="response" element="ns0:GetHotelsResponse"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="request" element="ns0:CancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="request" element="ns0:CancelHotelResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="request" element="ns0:BookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="response" element="ns0:BookHotelResponse"/>
    </message>
    <message name="cancelHotelFault">
        <part name="faultInfo" element="ns0:CancelHotelFault"/>
    </message>
    <message name="bookHotelFault">
        <part name="faultInfo" element="ns0:BookHotelFault"/>
    </message>
    <portType name="HotelReservation">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input2" message="tns:cancelHotelRequest"/>
            <output name="output2" message="tns:cancelHotelResponse"/>
            <fault name="canceHotelFault" message="tns:cancelHotelFault"/>
        </operation>
        <operation name="bookHotel">
            <input name="input3" message="tns:bookHotelRequest"/>
            <output name="output3" message="tns:bookHotelResponse"/>
            <fault name="bookHotelFault" message="tns:bookHotelFault"/>
        </operation>
    </portType>
    <binding name="HotelReservationBinding" type="tns:HotelReservation">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
            <fault name="canceHotelFault">
                <soap:fault name="canceHotelFault" use="literal"/>
            </fault>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
            <fault name="bookHotelFault">
                <soap:fault name="bookHotelFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="HotelReservationService">
        <port name="HotelReservationPort" binding="tns:HotelReservationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
