LameDuck/src/java/LameDuck/web/dk/wsdl/LameDuckWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LameDuckWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://xml.netbeans.org/schema/LameDuckElements">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/LameDuckElements" schemaLocation="../elements/LameDuckElements.xsd"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="origin" type="xsd:string"/>
        <part name="destination" type="xsd:string"/>
        <part name="flightDate" type="xsd:dateTime"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flightInfoList" element="ns0:FlightInfoListElement"/>
    </message>
    <message name="bookFlightRequest">
        <part name="bookingNumber" type="xsd:int"/>
        <part name="creditcardInfo" element="ns0:CreditCardInfoElement"/>
    </message>
    <message name="bookFlightResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="bookFlightFault">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="bookingNumber" type="xsd:int"/>
        <part name="price" type="xsd:int"/>
        <part name="creditcardInformation" element="ns0:CreditCardInfoElement"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="cancelFlightFault">
        <part name="response" type="xsd:string"/>
    </message>
    <portType name="LameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="LameDuckWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="LameDuckPortTypeRole" portType="tns:LameDuckPortType"/>
    </plnk:partnerLinkType>
</definitions>
