SoapTest/xml-resources/web-service-references/service/wsdl/localhost_8080/LameDuckTest/LameDuckWSDLService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/LameDuckElements" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/LameDuckElements">

<xs:element name="BookFlightRequestElement" type="tns:BookFlightRequestType"/>

<xs:element name="CancelFlightRequestElement" type="tns:CancelFlightRequestType"/>

<xs:element name="CreditCardInfoElement" type="tns:CreditCardInfoType"/>

<xs:element name="FlightElement" type="tns:FlightType"/>

<xs:element name="FlightInfoListElement" type="tns:FlightInfoListType"/>

<xs:element name="FlightInformationElement" type="tns:FlightInformationType"/>

<xs:element name="StringElement" type="xs:string"/>

<xs:element name="booleanElement" type="xs:boolean"/>

<xs:element name="getFlightRequestElement" type="tns:getFlightRequestType"/>

<xs:complexType name="CreditCardInfoType">
<xs:sequence>
<xs:element name="cardNumber" type="xs:int"/>
<xs:element name="holderName" type="xs:string"/>
<xs:element name="expirationDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightType">
<xs:sequence>
<xs:element name="originAirport" type="xs:string"/>
<xs:element name="destAirport" type="xs:string"/>
<xs:element name="takeOff" type="xs:dateTime"/>
<xs:element name="arrival" type="xs:dateTime"/>
<xs:element name="carrier" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightInformationType">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="flightPrice" type="xs:int"/>
<xs:element name="serviceName" type="xs:string"/>
<xs:element name="flight" type="tns:FlightType"/>
<xs:element name="state" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BookFlightRequestType">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="creditcardInfo" type="tns:CreditCardInfoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelFlightRequestType">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="creditCardInformation" type="tns:CreditCardInfoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightRequestType">
<xs:sequence>
<xs:element name="origin" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
<xs:element name="flightDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightInfoListType">
<xs:sequence>
<xs:element name="flightInfo" type="tns:FlightInformationType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>