SoapTest/xml-resources/web-service-references/LameDuckWSDLService/wsdl/desktop-0ahhu0k_8080/LameDuckTest/LameDuckWSDLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL" name="LameDuckWSDLService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/LameDuckElements" schemaLocation="http://desktop-0ahhu0k:8080/LameDuckTest/LameDuckWSDLService?xsd=1"/>
</xsd:schema>
</types>
<message name="bookFlight">
<part xmlns:ns1="http://xml.netbeans.org/schema/LameDuckElements" name="flightInfo" element="ns1:BookFlightRequestElement"/>
</message>
<message name="bookFlightResponse">
<part xmlns:ns2="http://xml.netbeans.org/schema/LameDuckElements" name="success" element="ns2:booleanElement"/>
</message>
<message name="BookFlightFault">
<part xmlns:ns3="http://xml.netbeans.org/schema/LameDuckElements" name="fault" element="ns3:StringElement"/>
</message>
<message name="getFlights">
<part xmlns:ns4="http://xml.netbeans.org/schema/LameDuckElements" name="flightInfo" element="ns4:getFlightRequestElement"/>
</message>
<message name="getFlightsResponse">
<part xmlns:ns5="http://xml.netbeans.org/schema/LameDuckElements" name="flightInfoList" element="ns5:FlightInfoListElement"/>
</message>
<message name="cancelFlight">
<part xmlns:ns6="http://xml.netbeans.org/schema/LameDuckElements" name="flightInfo" element="ns6:CancelFlightRequestElement"/>
</message>
<message name="cancelFlightResponse">
<part xmlns:ns7="http://xml.netbeans.org/schema/LameDuckElements" name="status" element="ns7:StringElement"/>
</message>
<message name="CancelFlightFault">
<part xmlns:ns8="http://xml.netbeans.org/schema/LameDuckElements" name="fault" element="ns8:StringElement"/>
</message>
<portType name="LameDuckPortType">
<operation name="bookFlight">
<input wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:BookFlightFault" name="BookFlightFault" wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/bookFlight/Fault/BookFlightFault"/>
</operation>
<operation name="getFlights">
<input wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:CancelFlightFault" name="CancelFlightFault" wsam:Action="http://j2ee.netbeans.org/wsdl/LameDuck/wsdl/LameDuckWSDL/LameDuckPortType/cancelFlight/Fault/CancelFlightFault"/>
</operation>
</portType>
<binding name="LameDuckPortTypeBindingPortBinding" type="tns:LameDuckPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookFlightFault">
<soap:fault name="BookFlightFault" use="literal"/>
</fault>
</operation>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CancelFlightFault">
<soap:fault name="CancelFlightFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="LameDuckWSDLService">
<port name="LameDuckPortTypeBindingPort" binding="tns:LameDuckPortTypeBindingPortBinding">
<soap:address location="http://desktop-0ahhu0k:8080/LameDuckTest/LameDuckWSDLService"/>
</port>
</service>
</definitions>