TravelGoodREST/src/conf/xml-resources/web-service-references/NiceViewWSDLService/wsdl/runi-laptop_8080/NiceViewTemp/NiceViewWSDLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/NiceViewTest/dk/NiceViewWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://xml.netbeans.org/schema/NiceViewElements" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NiceViewWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/NiceViewTest/dk/NiceViewWSDL">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/NiceViewTest/dk/NiceViewWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/NiceViewElements" schemaLocation="http://runi-laptop:8080/NiceViewTemp/NiceViewWSDLService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="input" element="ns0:GetHotelsRequestElement"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" element="ns0:HotelInformationListElement"/>
    </message>
    <message name="bookHotelRequest">
        <part name="input" element="ns0:BookHotelRequestElement"/>
    </message>
    <message name="bookHotelResponse">
        <part name="success" element="ns0:BookHotelResponseElement"/>
    </message>
    <message name="bookHotelFault">
        <part name="fault" element="ns0:BookHotelFaultElement"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="input" element="ns0:CancelHotelRequestElement"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="result" element="ns0:CancelHotelResponseElement"/>
    </message>
    <message name="cancelHotelFault">
        <part name="fault" element="ns0:CancelHotelFaultElement"/>
    </message>
    <portType name="NiceViewWSDLPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewWSDLPortTypeBinding" type="tns:NiceViewWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="http://niceview.web.dk"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://niceview.web.dk"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="http://niceview.web.dk"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewWSDLService">
        <port name="NiceViewWSDLPortTypeBindingPort" binding="tns:NiceViewWSDLPortTypeBinding">
            <soap:address location="http://runi-laptop:8080/NiceViewTemp/NiceViewWSDLService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NiceViewWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewWSDLPortTypeRole" portType="tns:NiceViewWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>